{% extends "layouts/base-fullscreen.html" %}

{% block title %} LOGGED OUT {% endblock %}

{% block content %}

    <main>


        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{{ ASSETS_ROOT }}/img/pages/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Logged out!
                                </h1>
                                <br />
                            </div>
                            <form method="get" action="{% url 'login' %}" class="mt-4">
                                {% csrf_token %}
                                <div style="display: flex; justify-content: center; align-items: center;">
                                    <button type="submit" class="btn btn-tertiary mb-3 mt-2 me-2 me-md-3 animate-up-2">Click here to login again.</button>
                                </div>
                            </form>

                            <br />


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}
