{% extends "layouts/base-fullscreen.html" %}

{% block title %} Redactor create {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    {% load form_tags %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/navbar_background.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{{ ASSETS_ROOT }}/img/pages/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Change Password
                                </h1>
                                <br />
                            </div>


                            <form method="post" novalidate>

                                {% csrf_token %}

                                <div class="form-group">
                                    <div class="form-group mb-4">
                                        <label for="password">Old Password</label>
                                            <div class="input-group">
                                                {{ form.old_password|add_class:"form-control" }}
                                                <span class="input-group-text">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>

                                        <span class="text-error">{{ form.old_password.errors }}</span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password">New Password</label>
                                            <div class="input-group">
                                                {{ form.new_password1|add_class:"form-control" }}
                                                <span class="input-group-text">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                        <span class="text-error">{{ form.new_password1.errors }}</span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password">New Password Confirmation</label>
                                            <div class="input-group">
                                                {{ form.new_password2|add_class:"form-control" }}
                                                <span class="input-group-text">
                                                    <i class="fa fa-lock"></i>
                                                </span>
                                            </div>
                                        <span class="text-error">{{ form.new_password2.errors }}</span>
                                    </div>
                                    <!-- End of Form -->
                                </div>
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>

                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}