{% extends "layouts/base.html" %}

{% block title %} Redactor Page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>


        <!-- Hero -->
        <div class="section-header bg-primary-app pb-0">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-8">
                        <img src="{{ ASSETS_ROOT }}/img/team/profile-picture-freelancer.jpg" class="rounded-circle img-thumbnail image-lg border-gray-300 p-2" alt="Profile image">
                        <div class="mt-4 mb-5">
                            <h1 class="display-2 fw-normal my-4">Hello, I’m <span class="text-through fw-bold">{{ redactor.username }}</span> {{ redactor.first_name }} {{ redactor.last_name }}.</h1>
                            {% if redactor.years_of_experience %}
                                <h2 >Redactor with {{ redactor.years_of_experience }} year{{ redactor.years_of_experience|pluralize }} of experience</h2>
                            {% endif %}
                            <h2 class="btn rounded btn-secondary text-white"><a href="{% url 'redaction:update-experience' pk=redactor.id %}">Add experience +</a></h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero section -->

        <!-- Section -->
        <div class="section section-lg bg-primary-app pb-0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center mb-4 mb-lg-6">
                        <h2 class="display-2 fw-bold">
                            Newspapers
                        </h2>
                        <p class="lead">Here are some newspapers I worked on</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    {% for newspaper in redactor.newspapers.all %}
                        <div class="col-md-6 col-lg-4 text-center">
                        <div class="card border-gray-300 mb-4">
                            <div class="card-body py-5">
                                <p class="card-text py-4 mb-0">{{ newspaper.title }}</p>
                                <a href="{% url 'redaction:newspaper-detail' pk=newspaper.id %}" class="btn btn-primary btn-sm">See story</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="section section-lg bg-primary-app">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <form action="#">
                            <div class="d-grid">
                                <button type="submit" class="btn rounded btn-secondary">Update</button>
                            </div>
                        </form>
                        <br>
                        <form action="{% url 'redaction:delete-redactor' pk=redactor.id %}">
                            <div class="d-grid">
                                <button type="submit" class="btn rounded btn-outline-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>

    {% include 'includes/footer.html' %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}