{% extends "layouts/base-fullscreen.html" %}


{% block title %} Delete Topic {% endblock %}

{% block content %}
    <main>

        {% include 'includes/navbar_background.html' %}
        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{{ ASSETS_ROOT }}/img/pages/form-image.jpg">

            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">

                            <div class="mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Delete topic: "{{ topic.name }}"?
                                </h1>
                                <br />
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}

                                <input type="submit" value="Yes" class="btn btn-secondary">
                            </form>

                            <br />


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}
