{% extends "layouts/base.html" %}

{% block title %} Topic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>


        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">
                            Topics
                            <a href="{% url 'redaction:topic-create' %}" class="btn btn-secondary link-to-page">
                                Create
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Hero -->
        <div class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="mb-5">
                            <table class="table table-hover">
                                <tr>
                                    <th scope="col">Topic</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                {% for topic in topic_list %}
                                    <tr>
                                        <td>{{ topic.name }}</td>
                                        <td><a href="{% url 'redaction:topic-update' pk=topic.id %}">Update</a></td>
                                        <td><a href="{% url 'redaction:topic-delete' pk=topic.id %}">Delete</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
